<!DOCTYPE html>
<html lang="no">
<head>
  <meta charset="UTF-8">
  <title>Login / Register</title>
</head>
<body>

<h2>Logg inn</h2>
<form action="/logg-in" method="POST">
  <input name="username" placeholder="Brukernavn" required>
  <input name="password" type="password" placeholder="Passord" required>
  <button type="submit">Logg inn</button>
</form>

<hr>

<h2>Lag bruker</h2>
<form action="/register" method="POST">
  <input name="username" placeholder="Brukernavn" required>
  <input name="password" type="password" placeholder="Passord" required>
  <button type="submit">register</button>
</form>




</body>
</html>
